/* weather scss */

#weather_api {
  position: relative;
  max-width: 160px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 25%;
  @media screen and (max-width: 1024px) {
    max-width: 140px;
    padding-left: 10px;
  }
  img {
    max-width: 70%;
    float: left;
  }
  label {
    font-size: 1em;
  }
}

#degreesCelcius {
  position: absolute;
  top: 44%;
  left: 75%;
}