<template>
  <div class="row">
    <div class="scroller">
      <div class="list_item_title_wrap col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <h6 class="list_items_title pull-right">Service Workforce Summary</h6>
      </div>

      <!------ SERVICES ------>
      <div class="dashboardServices_wrap" style="z-index: 9999999">
        <div class="serviceTitle col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <!-- list_item_title_wrap -->
          <ul>
            <li repeat.for="service of workforceDashboardStore.services" class="${service.serviceId === workforceDashboardStore.selectedService.serviceId ? 'selectedService': ''}">
              <a click.delegate="selectService(service)">${service.serviceName}</a>&nbsp;&nbsp;&nbsp;&nbsp;
            </li>
          </ul>
          <h6 class="list_items_title pull-right aurelia-hide" show.bind="!workforceDashboardStore.services">No services within your organisation</h6>
        </div>
      </div>
    </div>
  </div>
  
</template>