/* hud scss */

@import "prompts/nodata/nodata";
@import "scan_document/scandoc";
@import "share_screen/sharescreen";
@import "dashboard/index";
@import "sign_document/signdoc";
@import "teams/teams";
@import "_widgets/index";
@import "wrapup/wrapup";
@import "interactionlog/interactionlog";
@import "conversation/conversation";
@import "../../node_modules/sass-bem-constructor/dist/_bem-constructor.scss";
// ---- HUD Styling ----
.dash_panels {
  //position: absolute;
  height: 100%;
  width: 100%;
}

.content_container {
  //padding: 0 120px;
  position: absolute;
  left: 16.666%;
  height: 100%;
  padding: 0 80px;
  @media screen and (max-width: 1024px) {
    padding: 0 15px;
    position: relative;
    left: 17.666667%;
    z-index: 600;
  }
  @media screen and (max-width: 1366px) {
    padding-bottom: 5%;
  }
  @media screen and (min-width: 1921px) {
    padding: 0 7% !important;
  }
}

.hud_panel_left {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: 0.5s ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  //width: 625px;
  height: 100%;
  margin-top: 0px;
  //  overflow: hidden;
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    left: -10px;
    //width: 33%;
  }
  @media screen and (min-width: 1201px) and (max-width: 1600px) {
    left: 0%;
    //width: 33%;
  }
  @media screen and (min-width: 2048px) {
    left: -40px;
    //width: 497px;
  }
  .left_top {
    pointer-events: none;
    position: absolute;
    top: 11%;
    left: 0;
    background: url(../img/top_door.png) no-repeat;
    background-size: 100% 100%, contain;
    background-position: left top;
    width: 100%;
    height: 6%;
    z-index: 0;
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      //      top: 0px;
      //      left: -80%;
      //      background-size: 65%;
      //      background-position-y: 0;
    }
    @media screen and (min-width: 1201px) and (max-width: 1600px) {
      //      top: 90px;
      //      left: -44%;
      //      background-size: 65%;
      //      background-position-y: 0;
    }
    @media screen and (min-width: 1921px) {
      //      width: 545px;
      //      top: 28px;
      //      background-size: 100%;
      //      background-position-y: 0;
    }
  }
  .left_tile {
    pointer-events: none;
    position: absolute;
    top: 17%;
    left: 0;
    background: url(../img/tile_door.png) repeat-y;
    background-size: contain;
    width: 100%;
    height: 66%;
    z-index: 0;
    @media screen and (min-width: 1024px) and (max-width: 1200px) {
      //      top: 213px;
      //      left: -80%;
      //      background-size: 65%;
      //      background-position-y: 0;
      //      height: calc(100% - 412px);
    }
    @media screen and (min-width: 1201px) and (max-width: 1440px) {
      //      top: 303px;
      //      left: -44%;
      //      background-size: 65%;
      //      background-position-y: 0;
      //      height: calc(100% - 592px);
    }
    @media screen and (min-width: 1921px) {
      //      top: 356px;
      //      background-size: 100%;
      //      background-position-y: 100%;
      //      height: calc(100% - 746px);
      //      width: 545px;
    }
  }
  .left_bottom {
    pointer-events: none;
    position: absolute;
    bottom: 11%;
    left: 0;
    background: url(../img/bottom_door.png) no-repeat;
    background-size: 100% 100%, contain;
    background-position: left bottom;
    width: 100%;
    height: 6%;
    z-index: 0;
    //    @media screen and (min-width: 1024px) and (max-width: 1200px) {
    //      bottom: 0px;
    //      left: -80%;
    //      background-size: 65%;
    //      background-position-y: 100%;
    //    }
    //    @media screen and (min-width: 1201px) and (max-width: 1440px) {
    //      bottom: 90px;
    //      left: -44%;
    //      background-size: 65%;
    //      background-position-y: 100%;
    //    }
    //    @media screen and (min-width: 1921px) {
    //      bottom: 83px;
    //      background-size: 100%;
    //      background-position-y: 100%;
    //      width: 545px;
    //    }
  }
}

.hud_panel_left.panelClosed {
  left: -11%;
  .left_wing_widgets {
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
  //  @media screen and (min-width: 1024px) and (max-width: 1200px) {
  //    left: -115px;
  //  }
  //  @media screen and (min-width: 1201px) and (max-width: 1600px) {
  //    left: -130px;
  //  }
}

.hud_panel_right {
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 1;
  transition: 0.5s ease-in-out;
  position: absolute;
  //right: -85px;
  top: 0px;
  right: 0;
  z-index: 1;
  //width: 625px;
  height: 100%;
  margin-top: 0px;
  //margin-left: 15px;
  //  @media screen and (min-width: 1024px) and (max-width: 1200px) {
  //    right: -10px;
  //width: 33%;
  //  }
  //  @media screen and (min-width: 1201px) and (max-width: 1600px) {
  //    right: 0%;
  //width: 33%;
  //  }
  //  @media screen and (min-width: 2048px) {
  //    right: -40px;
  //width: 497px;
  //  }
  .right_top {
    pointer-events: none;
    position: absolute;
    top: 11%;
    right: 0;
    background: url(../img/top_door.png) no-repeat;
    background-size: 100% 100%, contain;
    background-position: right top;
    width: 100%;
    height: 6%;
    z-index: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    //    @media screen and (min-width: 1024px) and (max-width: 1200px) {
    //      top: 0px;
    //      right: -80%;
    //      background-size: 65%;
    //      background-position-y: 0;
    //    }
    //    @media screen and (min-width: 1201px) and (max-width: 1440px) {
    //      top: 90px;
    //      right: -44%;
    //      background-size: 65%;
    //      background-position-y: 0;
    //    }
    //    @media screen and (min-width: 1921px) {
    //      top: 28px;
    //      background-size: 100%;
    //      background-position-y: 0;
    //      width: 545px;
    //    }
  }
  .right_tile {
    position: absolute;
    top: 17%;
    right: 0;
    background: url(../img/tile_door.png) repeat-y;
    background-size: contain;
    width: 100%;
    height: 66%;
    z-index: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    //    @media screen and (min-width: 1024px) and (max-width: 1200px) {
    //      top: 213px;
    //      right: -80%;
    //      background-size: 65%;
    //      background-position-y: 0;
    //      height: calc(100% - 412px);
    //    }
    //    @media screen and (min-width: 1201px) and (max-width: 1440px) {
    //      top: 303px;
    //      right: -44%;
    //      background-size: 65%;
    //      background-position-y: 0;
    //      height: calc(100% - 592px);
    //    }
    //    @media screen and (min-width: 1921px) {
    //      top: 356px;
    //      background-size: 100%;
    //      background-position-y: 0;
    //      height: calc(100% - 746px);
    //      width: 545px;
    //    }
  }
  .right_bottom {
    pointer-events: none;
    position: absolute;
    bottom: 11%;
    right: 0;
    background: url(../img/bottom_door.png) no-repeat;
    width: 100%;
    height: 6%;
    background-size: 100% 100%, contain;
    background-position: right bottom;
    z-index: 0;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    //    @media screen and (min-width: 1024px) and (max-width: 1200px) {
    //      bottom: 0px;
    //      right: -80%;
    //      background-size: 65%;
    //      background-position-y: 100%;
    //    }
    //    @media screen and (min-width: 1201px) and (max-width: 1440px) {
    //      bottom: 90px;
    //      right: -44%;
    //      background-size: 65%;
    //      background-position-y: 100%;
    //    }
    //    @media screen and (min-width: 1921px) {
    //      bottom: 83px;
    //      background-size: 100%;
    //      background-position-y: 100%;
    //      width: 545px;
    //    }
  }
}

.hud_panel_right.panelClosed {
  right: -11%;
  .right_wing_widgets {
    transition: 0.5s ease-in-out;
    opacity: 0;
  }
  //  @media screen and (min-width: 1024px) and (max-width: 1200px) {
  //    right: -115px;
  //  }
  //  @media screen and (min-width: 1201px) and (max-width: 1600px) {
  //    right: -130px;
  //  }
}

#draggable {
  cursor: move;
}

// ---- Inner Doors ----
//Pointer events none
.inner_door,
.inner_door-top,
.inner_door-middle,
.inner_door-bottom {
  pointer-events: none;
}

.left_inner_door {
  left: 0;
}

.right_inner_door {
  right: 0;
  transform: scaleX(-1);
}

.inner_door {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  max-width: 25%;
  z-index: 5;
  transition: .5s;
  display: block;
  .inner_door-top {
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0;
    height: 50%;
    background: url(../img/inner_door-top.png) no-repeat;
    background-size: 70%;
    background-position: left top;
    z-index: 6;
    @media screen and (max-width: 1024px) {
      background-size: 90%;
    }
  }
  .inner_door-middle {
    pointer-events: none;
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    background: url(../img/inner_door-middle.png) repeat-y;
    background-size: 70%;
    display: block;
    background-position: left center;
    z-index: 5;
    @media screen and (max-width: 1024px) {
      background-size: 90%;
    }
  }
  .inner_door-bottom {
    pointer-events: none;
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background: url(../img/inner_door-bottom.png) no-repeat;
    background-size: 70%;
    background-position: left bottom;
    z-index: 6;
    @media screen and (max-width: 1024px) {
      background-size: 90%;
    }
  }
}

// ---- Inner Doors End ----
.content_tile {
  position: absolute;
  top: 3%;
  right: 0px;
  width: 2000px;
  height: 80%;
  z-index: -3;
}

.top_tile {
  position: absolute;
  top: 0px;
  right: 90px;
  width: 100%;
  height: 6px;
  background: url(../img/phone_top_border.png);
}

.bottom_tile {
  position: absolute;
  bottom: 0px;
  right: 160px;
  width: 100%;
  height: 6px;
  background: url(../img/phone_bottom_border.png);
}

.top_right_corner {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 148px;
  height: 100px;
  background: url(../img/phone_top_right_corner.png);
  z-index: 2;
}

.bottom_right_corner {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 161px;
  height: 100px;
  background: url(../img/phone_bottom_right_corner.png);
  z-index: 2;
}

.right_tile {
  pointer-events: none;
  position: absolute;
  top: 90px;
  right: 0px;
  width: 9px;
  height: calc(100% - 185px);
  background: url(../img/phone_left_blue.png) repeat-y;
  z-index: 3;
}

.left_inner_door_phone {
  left: auto;
  right: -20px;
  top: -100px;
}

.left_wing_widgets {
  position: relative;
  z-index: 1;
  height: 100%;
  //  margin-top: 265px;
  //  padding-left: 60px;
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    //    padding-left: 37px;
    //    margin-top: 130px;
  }
  @media screen and (min-width: 1921px) {
    //    padding-left: 100px;
    //    margin-top: 12%;
  }
}

.centering_widgets_left {
  position: absolute;
  left: 20%;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

.centering_widgets_right {
  position: absolute;
  left: 0%;
  right: 20%;
  top: 50%;
  transform: translate(0, -50%);
}

.right_wing_widgets {
  position: relative;
  z-index: 1;
  height: 100%;
  //  margin-left: 38px;
  //  margin-top: 259px;
  @media screen and (min-width: 1024px) and (max-width: 1200px) {
    //    margin-top: 180px;
  }
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    //    margin-top: 220px;
    //    padding-right: 70px;
    //    padding-left: 10px;
  }
}

.animate_left_panel_open {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -webkit-transform: translate(1050px, 0);
  -moz-transform: translate(1050px, 0);
  -o-transform: translate(1050px, 0);
  -ms-transform: translate(1050px, 0);
}

.animate_left_panel_close {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -webkit-transform: translate(0px, 0);
  -moz-transform: translate(0px, 0);
  -o-transform: translate(0px, 0);
  -ms-transform: translate(0px, 0);
}

.animate_right_panel {
  left: -340px;
  transition: 0.75s;
  z-index: -2;
}

// ---- Top Shutter ----
@include component('hud-statusbar') {
  position: relative;
  @include element ('logo') {
    position: absolute;
    top: 15px;
    right: 13%;
    z-index: 204;
    height: auto;
    width: 60px;
  }
}

@include component('hud-statusbar-container') {
  position: absolute;
  height: 60px;
  left: 0;
  right: 0;
  z-index: 199;
  @include element('back-level-one') {
    position: absolute;
    z-index: 200;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #4a4a4a, #737373);
    -webkit-clip-path: polygon(100% 0, 100% 35%, 89.5% 97%, 88.5% 100%, 11.5% 100%, 10.5% 97%, 0 35%, 0 0);
    //    -webkit-clip-path: polygon(100% 0%, 100% 30%, 93% 100%, 7% 100%, 0% 30%, 0% 0%);
  }
  @include element('back-level-two') {
    position: absolute;
    z-index: 201;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, #1f1f1f, #2a2a2a);
    -webkit-clip-path: polygon(100% 0, 99% 0, 89% 85%, 88.5% 87%, 11.5% 87%, 11% 85%, 1% 0, 0 0);
  }
  @include element('front-level-one') {
    position: absolute;
    z-index: 202;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #727272;
    -webkit-clip-path: polygon(90% 0, 58% 20%, 56% 58%, 44% 58%, 42% 20%, 10% 0);
    //    -webkit-clip-path: polygon(100% 0%, 58% 20%, 56% 70%, 44% 70%, 42% 20%, 0% 0%);
    @include modifier('available') {
      background-color: #00a858;
    }
    @include modifier('away') {
      background-color: #3cc4e8;
    }
    @include modifier('on-call') {
      background-color: #ec3237;
    }
    @include modifier('busy') {
      background-color: #ec3237;
    }
    @include modifier('wrap-up') {
      background-color: #c754c7;
    }
    @include modifier('dialling') {
      background-color: #f99406;
    }
  }
  @include element('front-level-two') {
    position: absolute;
    z-index: 203;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    opacity: 0.4;
    -webkit-clip-path: polygon(58% 20%, 56% 58%, 44% 58%, 42% 20%, 44% 44%, 56% 50%);
  }
  @include element('status-label') {
    position: absolute;
    z-index: 204;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    font-weight: 700;
    padding-top: calc(0.6% - 2px);
    color: #fff;
    max-width: 20%;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    @media screen and (max-width: 1400px) {
      padding-top: calc(0.6% - 0px);
    }
    @media screen and (min-width: 1921px) {
      padding-top: calc(0.6% - 8px);
    }
  }
}

// ---- Bottom Shutter ----
@include component('hud-controlpanel') {
  position: absolute;
  top: 92%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 200;
  @include element('middle') {
    position: absolute;
    top: -7px;
    right: 11%;
    bottom: 0;
    left: 11%;
    z-index: 200;
    border-top: 6px solid #6a6a6a;
    box-shadow: inset 0 14px 0 0 #404040;
    background: #141414;
  }
  @include element('side') {
    position: absolute;
    top: -10px;
    bottom: 0;
    z-index: 202;
    max-width: 16%;
    background: url(../img/hud_controlpanel_side.png) no-repeat;
    background-size: cover;
    @include modifier('left') {
      right: 84%;
      left: 0;
      transform: scaleX(-1);
    }
    @include modifier('right') {
      right: 0;
      left: 84%;
    }
  }
  @include element('controls-list') {
    position: absolute;
    top: -7px;
    right: 11%;
    bottom: 0;
    left: 11%;
    z-index: 250;
  }
}

@include component('hud-controls') {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  max-width: 77%;
  height: 100%;
  margin: 0 auto;
  display: block;
  @media screen and (max-width: 1366px) {
    max-width: 77%;
  }
  @media screen and (max-width: 1280px) {
    max-width: 81%;
  }
  @media screen and (max-width: 1024px) {
    max-width: 80%;
  }
  @include element('item') {
    position: absolute;
    z-index: 250;
    display: block;
    width: 100%;
    max-width: 55px;
    @media screen and (max-width: 1366px) {
      max-width: 40px;
    }
    @media screen and (max-width: 1280px) {
      max-width: 58px;
    }
    @media screen and (max-width: 1024px) {
      max-width: 40px;
    }
    @media screen and (min-width: 1921px) {
      max-width: 80px;
    }
    @include modifier('right') {
      right: 0;
    }
    @include modifier('center-left') {
      left: calc(50% - 75px);
    }
    @include modifier('center-right') {
      left: calc(50% + 20px);
    }
  }
  @include element('icon') {
    display: block;
    width: 100%;
    padding: 0% 50% 100% 50%;
    border: none;
    margin: 0 auto;
    outline: 0;
    @include modifier('home') {
      background: url(../img/hud_controlpanel_home.png);
      background-position: center 0%;
      background-size: cover;
      &:hover {
        background-position: center 50%;
      }
    }
    @include modifier('away') {
      background: url(../img/hud_controlpanel_away.png);
      background-position: center 0%;
      background-size: cover;
      &:hover {
        background-position: center 50%;
      }
      @include state('selected') {
        background-position: center 100%;
        &:hover {
          background-position: center 100%;
          cursor: default;
        }
      }
    }
    @include modifier('available') {
      background: url(../img/hud_controlpanel_available.png);
      background-position: center 0%;
      background-size: cover;
      &:hover {
        background-position: center 50%;
      }
      @include state('selected') {
        background-position: center 100%;
        &:hover {
          background-position: center 100%;
          cursor: default;
        }
      }
    }
    @include modifier('logout') {
      background: url(../img/hud_controlpanel_logout.png);
      background-position: center 0%;
      background-size: cover;
      &:hover {
        background-position: center 50%;
      }
    }
  }
  @include element('label') {
    position: absolute;
    top: 2%;
    right: 0;
    left: 0;
    display: block;
    padding-top: 90%;
    text-align: center;
    &:hover {
      text-shadow: 0px 0px 8px #00fffc;
    }
    @include state('selected') {
      color: #444444;
      &:hover {
        color: #444444;
        text-shadow: none;
        cursor: default;
      }
    }
  }
}

.hud-btn-common {
  // this class is applied as an extention in the hud button bem object below.
  border: none;
  outline: none;
  background-color: transparent;
  background-image: url(../img/hud_controlpanel_btns.png);
}

// ---- HUD Styling End ----
.hex_bg_small,
.search {
  position: absolute;
  width: 140px;
  height: 119px;
  margin-top: -32px;
  margin-left: -65px;
  text-align: center;
  line-height: 8.5;
  background-image: url(../img/icon_hex.png);
  @media screen and (max-width: 1024px) {
    width: 111px;
    height: 119px;
    margin-top: -24px;
    margin-left: -57px;
    background-size: contain;
  }
  @media screen and (min-width: 1921px) {
    width: 163px;
    height: 138px;
    margin-top: -34px;
    margin-left: -74px;
    background-size: contain;
  }
}

.list_item_title_wrap {
  display: inline-block;
  margin-bottom: 20px;
  text-align: right;
  @media screen and (min-width: 1201px) and (max-width: 1600px) {
    margin-top: 52px;
  }
}

.list_items_title {
  width: 100%;
  margin-right: -15px;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
}

// not found in any html or js files
.message_number {
  width: 40px;
  float: left;
}

// not found in any html or js files
.show_remove_btn {
  display: none;
}

.fadedContent {
  opacity: 0.3;
  -webkit-filter: grayscale(1);
  transition: 1s;
  pointer-events: none;
}

.fadedContent:hover {
  opacity: 0.3;
  -webkit-filter: none;
}

.organisation img,
.user_profile_placeholder img {
  @media screen and (min-width: 1024px) and (max-width: 1200px) {}
}

.conversation_container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  margin: 0;
}

@include component('video') {
  position: fixed;
  z-index: 9999;
  top: 100px;
  left: 100px;
  width: 500px;
  @media screen and (max-width: 1366px) {
    width: 250px;
  }
}

@include component('message-window') {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0.7);
  min-height: 80px;
  width: 50ch;
  span:nth-child(1){
    color: $secondary-color;
  }
}