@import "../../node_modules/sass-bem-constructor/dist/_bem-constructor.scss";
@include object('step') {
	position: absolute !important;
	top: 40%;
	right: -11.4%;
	padding: 0px !important;
	border: 1px solid rgba(11, 164, 166, 0.5);
	border-bottom: none;
	overflow: hidden;
  transition: 0.5s;
	@media screen and (max-width: 1366px) {
		right: calc(-22.66% + 12px);
    width: 21%;
	}
	@media screen and (max-width: 1280px) {
		right: calc(-14.66% + 11px);
    width: 21%;
	}
	@include element('paginater') {
		width: 100%;
		padding: {
			top: 6.9%;
			left: 5.5%;
      bottom: 1.8%;
		}
		border-bottom: 1px solid rgba(11, 164, 166, 0.5);
		cursor: pointer;
		box-shadow: inset 2px 2px 30px 10px rgba(11, 164, 166, 0.3);
		&:hover {
			background-color: rgba(11, 164, 166, 0.5);
		}
		@include modifier('active') {
			background-color: rgba(11, 164, 166, 0.28);
			&:after {
				position: absolute;
				z-index: 2;
				content: '';
				left: 45%;
				background-color: transparent;
				width: 0px;
				height: 0px;
				margin-top: 2%;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid rgba(11, 164, 166, 0.5);
			}
		}
		@include modifier('completed') {
			box-shadow: inset 2px 2px 30px 10px rgba(11, 164, 166, 0.3);
		}
	}
	@include element('icon') {
		margin-right: 10px;
		@include modifier('role') {
			width: 38px;
		}
		@include modifier('attributes') {
			width: 36px;
		}
		@include modifier('emails') {
			width: 36px;
		}
	}
	@include element('title') {
		color: aqua;
	}
	@media screen and (min-width: 1921px) {
		right: -9%;
	}
}
.seperator {
	display: block;
	float: left;
	width: 1px;
	height: 40px;
	margin-left: 10px;
	background-color: #fff;
  transition: 0.5s;
  @media screen and (max-width: 1200px) {
    height: 28px;
  }
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    height: 36px;
  }
  @media screen and (min-width: 1401px) and (max-width: 1600px) {
    
  }
  @media screen and (max-width: 1920px) {
    
  }
}
