<template>

 <div style="width:760px">
  <div class="o-view-border o-view-border--prompt">
   <div class="o-prompt">
    <ai-dialog>
     <ai-dialog-header>
      <div class="o-prompt-header clearfix">
       <div class="o-prompt-header__icon-container pull-left">
        <img class="o-prompt-header__icon" src="/target/_assets/img/search_icon-white.png" />
       </div>
       <h6 class="o-prompt-header__title o-text__header pull-left">PERFORMED ASSESSMENTS SEARCH</h6>
      </div>
     </ai-dialog-header>
     <ai-dialog-body>
      <div class="callLog_search container-fluid">
       <div class="wrapper">


        <div class="row">
         <img src="/target/_assets/img/calender_from_icon.png" class="icon" title="From Date" />
         <div style="width:90%" class="pull-right">
          <input class="form-control o-form-field__input o-text__input" type="date" placeholder="From Date" value.bind="viewStore.forms.fromDate"/>
         </div>

        </div>
        <div class="row">
         <img src="/target/_assets/img/calender_to_icon.png" class="icon" title="To Date" />
         <div style="width:90%" class="pull-right">
          <input class="form-control o-form-field__input o-text__input" type="date" placeholder="To Date" value.bind="viewStore.forms.toDate"/>
         </div>
        </div>
        <div class="row">
         <div style="width:90%" class="pull-right">
          <input class="form-control o-form-field__input o-text__input" type="text" placeholder="Form Name" value.bind="viewStore.forms.formName"/>
         </div>
        </div>

        <div class="row">
         <div style="width:90%" class="pull-right">
          <input class="form-control o-form-field__input o-text__input" type="text" placeholder="Channel" value.bind="viewStore.forms.channel"/>
         </div>
        </div>

        <div class="row">
         <div style="width:90%" class="pull-right">
          <input class="form-control o-form-field__input o-text__input" type="text" placeholder="Performed By First Name" value.bind="viewStore.forms.assessorName.firstName"/>
         </div>
        </div>

        <div class="row">
         <div style="width:90%" class="pull-right">
          <input class="form-control o-form-field__input o-text__input" type="text" placeholder="Performed By Surname" value.bind="viewStore.forms.assessorName.surname"/>
         </div>
        </div>

        <div class="row">
         <button class="o-button__action o-button__action--accept pull-right" click.trigger="search_field()" />
        </div>

       </div>
      </div>

     </ai-dialog-body>
     <ai-dialog-footer>
     </ai-dialog-footer>
    </ai-dialog>
   </div>
  </div>
 </div>
 </div>

</template>