/* user scss */

.btn-pos {
  position: relative;
  bottom: 7px;
  right: 5px;
  float: left;
  z-index: 5;
  display: block;
  height: 60px;
  width: 58px;
  margin-right: 0px;
  background-color: transparent;
  border: none;
  &.add_btn {
    background-image: url(../img/action-buttons.png);
    background-size: 400%;
    background-position: -2.4% 20%;
    &:hover {
      background-position: 32.4% 20%;
    }
    &:focus {
      outline: none;
    }
  }
}

.create-org-container {
  position: absolute;
  top: 0;
//  right: 100%;
  left: 50%;
  z-index: 0;
  width: 100%;
//  height: 100%;
  display: block;
}

@include component('create-organisation') {
  position: absolute;
  padding-top: 17%;
  top: -14%;
  right: 0;
  left: 32%;
  display: block;
  width: 100%;
  max-width: 230px;
  @media screen and (max-width: 1400px) {
    padding-top: 11%;
  }
  @include element('button') {
    position: absolute;
    bottom: 5px;
    left: 17px;
    z-index: 10;
    width: calc(100% - 80%);
    height: 4px;
    background-color: #fff;
    transform: rotate(-32deg);
    -webkit-transform: rotate(-32deg);
    transition: 1s;
    @media screen and (min-width: 1921px) {
      bottom: 1px;
    }
  }
  @include element('label') {
    position: relative;
    width: calc(100% - 30%);
    max-width: 170px;
    float: left;
    padding: {
      top: 18px;
      bottom: 8px;
      left: 10px;
    }
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;
    border-bottom: 1px solid #fff;
  }
}