.new_task {
  width: 77.7%;
  height: 199px;
  margin-bottom: 10px;
  position: relative;
  border-style: solid;
  border-width: 135px 251px 0px 203px;
  -moz-border-image: url(../img/next_work_item.png) 135 251 0 203;
  -webkit-border-image: url(../img/next_work_item.png) 135 251 0 203;
  -o-border-image: url(../img/next_work_item.png) 135 251 0 203;
  border-image: url(../img/next_work_item.png) 135 251 0 203 fill;
  @media screen and (min-width: 1921px) {
    border-width: 90px 265px 0px 125px;
    border-image: url(../img/next_work_item.png) 95 295 0 210 fill;
    height: 200px;
    margin-left: 15px;
  }
  @media screen and (max-width: 1024px) {
    border-width: 88px 225px 0px 116px;
    border-image: url(../img/next_work_item.png) 145 415 0 180 fill;
    height: 120px;
    margin-left: 15px;
  }
  .new_task_container {
    position: absolute;
    top: -130px;
    left: -170px;
    right: -250px;
    bottom: 0px;
    padding: 10px;
    @media screen and (min-width: 1921px) {
      top: -88px;
      right: -260px;
    }
    @media screen and (max-width: 1024px) {
      top: -90px;
      left: -114px;
      right: -228px;
    }
    .task_info {
      text-align: center;
      margin: 35px 0;
      float: left;
      @media screen and (max-width: 1024px) {
        margin: 8px 0;
      }
      h5 {
        @media screen and (max-width: 1024px) {
          font-size: 1em;
          margin: 10px 0;
        }
      }
      .task_type {
        display: block;
        width: 46px;
        height: 31px;
        margin: auto;
        background-image: url(../img/task_icon.png);
        .summary {
          color: #eda700;
        }
      }
    }
    .next_task_btn {
      width: 159px;
      height: 169px;
      background-image: url(../img/next_task_btn.png);
      cursor: pointer;
      float: right;
      @media screen and (max-width: 1024px) {
        max-width: 97px;
        height: 104px;
        background-size: 100%;
        background-repeat: no-repeat;
      }
    }
  }
}