/*** used for all dashboard styling ***/

.helm_wrap {
  right: 0;
  left: 0;
  display: block;
  margin: auto;
  pointer-events: none;
}

.port_wrap,
.starboard_wrap {
  display: block;
  padding: 0;
  position: relative;
  padding-bottom: 8%;
  @media screen and (min-width: 1200px) and (max-width: 1400px) {
    margin: 0 -20px;
  }
  .camp {
    display: block;
    padding: 0;
    position: relative;
    margin-top: 5%;
  }
}

.port_wrap li.camp:first-child,
.starboard_wrap li.camp:first-child {
  margin-top: 0;
}

.camp__nav-btn {
  position: relative;
  display: block;
  width: 34%;
  height: 100%;
  float: left;
  border: none;
  outline: 0;
  background: 0 0;
  opacity: .7;
  transition: all .5s ease;
  &:hover {
    opacity: 1;
  }
}

.starboard_wrap .camp__nav-btn {
  float: right;
}

.camp__nav-btn--base {
  background-image: url(../img/icon_base.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.camp_icon_container {
  position: relative;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.camp__icon {
  width: 50%;
  display: block;
  height: auto;
  margin: 0 auto;
  padding-bottom: 25%;
}

.camp_connector {
  position: relative;
  width: 66%;
  float: right;
  padding-top: 11%;
  .label {
    cursor: pointer;
  }
  @media screen and (max-width: 1024px) {
    padding-top: 8%;
  }
}

.starboard_wrap .camp_connector {
  float: left;
}

.camp_connector .thick_line {
  width: 20%;
  height: 4px;
  background: #fff;
  z-index: 10;
  position: absolute;
  right: 98%;
  bottom: -16%;
  transform: rotate(-30deg);
  -webkit-transform: rotate(-30deg);
}

.starboard_wrap .camp_connector .thick_line {
  left: 98%;
  transform: rotate(30deg);
  -webkit-transform: rotate(30deg);
}

.camp_connector .label {
  border-bottom: 1px solid #fff;
  padding-bottom: 4%;
  float: left;
  border-radius: 0;
  width: 100%;
  text-align: left;
  line-height: 1;
}

.starboard_wrap .camp_connector .label {
  padding-right: 10px;
  float: right;
  text-align: right;
}

.starboard_wrap {
  li {
    button.camp__nav-btn {
      float: right;
    }
  }
}

.no_data_inner {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 23% auto;
  width: 300px;
  text-align: center;
}

.content_box {
  margin-top: 60px;
  height: calc(100% - 143px);
  @media screen and (max-width: 1366px) {
    position: relative;
    height: calc(100% - 52px);
  }
  @media screen and (max-width: 1280px) {
    position: static;
  }
  @media screen and (max-width: 1279px) {
    position: relative;
  }
}

crud,
dashboard-vessel,
.scroller {
  @media screen and (max-width: 1366px) {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    padding: 0 25px 0 15px;
    width: 100%;
    padding-bottom: 15px;
  }
  @media screen and (max-width: 1280px) {
    // KEEP THESE STYLES BELOW IF YOU WANT TO RATHER USE THESE
    position: static;
    top: 0;
    bottom: 0;
    overflow-x: visible;
    padding: 0;
    width: auto;
    //
    //    position: absolute;
    //    top: 50%;
    //    bottom: 0;
    //    overflow-x: visible;
    //    padding: 12%;
    //    left: 0;
    //    right: 0;
    //    transform: translate(0, -105%);
  }
  @media screen and (max-width: 1279px) {
    position: absolute;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    padding: 0 25px 0 15px;
    width: 100%;
  }
}

//.view_scroller {
//  position: absolute;
//  top: 0;
//  bottom: 0;
//  left: 15px;
//  right: 15px;
//}
//.scroll_container {
//  margin-top: 60px;
//  position: relative;
//  height: 100%;
//  max-height: 87%;
//  overflow-x: hidden;
//  padding: 0 15px;
//  padding-bottom: 50px;
//  position: relative;
//  overflow-x: hidden;
//  padding-top: 73%;
//}
crud::-webkit-scrollbar,
dashboard-vessel::-webkit-scrollbar,
.scroller::-webkit-scrollbar {
  width: 10px;
  background: rgba(59, 244, 255, 0.2);
  border-radius: 5px;
}

crud::-webkit-scrollbar-track,
dashboard-vessel::-webkit-scrollbar-track,
.scroller::-webkit-scrollbar-track {
  //  background: yellow;
}

crud::-webkit-scrollbar-thumb,
dashboard-vessel::-webkit-scrollbar-thumb,
.scroller::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(59, 244, 255, 0.2);
}

crud::-webkit-scrollbar-button,
dashboard-vessel::-webkit-scrollbar-button,
.scroller::-webkit-scrollbar-button {
  //  background: blue;
}

crud::-webkit-scrollbar-corner,
dashboard-vessel::-webkit-scrollbar-corner,
.scroller::-webkit-scrollbar-corner {
  //  background: purple;
}

crud::-webkit-scrollbar-track-piece,
dashboard-vessel::-webkit-scrollbar-track-piece,
.scroller::-webkit-scrollbar-track-piece {
  //  background: orange;
}