/* live dashboard scss */


/** 
* row-space is used to create space between the top 
  and bottom display units on the live dashboard.
*/

.row-space {
  margin-top: 40px;
}

.dashboardServices_wrap {
  position: relative;
}

.dashboardHeaderWrap {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dateTimeWrap {
  display: inline-block;
  margin-top: 24px;
}

.dash-time,
.date {
  clear: both;
  margin-top: 2px;
}

.callStatsBoxMod {
  // .callStatsBoxMod is used with callStatsTopRow ul li & callStatsTopRow ul li
  width: 98px;
  height: 98px;
  @media screen and (max-width: 1280px) {
    width: 85px;
    height: 85px;
  }
}

.callStatsTopRow ul {
  display: inline-block;
  width: 100%;
  padding: 25px;
  position: relative;
  @media screen and (max-width: 1366px) {
    padding: 10px;
    min-height: 248px;
  }
  @media screen and (max-width: 1280px) {
    min-height: 194px;
  }
}

.callStatsTopRow ul li {
  margin-right: 20px;
  float: left;
  font-size: 18px;
  border: 3px solid #12bcfa;
  border-radius: 50%;
  text-align: -webkit-center;
  transition: .5s;
  @media screen and (max-width: 1366px) {
    margin-bottom: 5px;
    margin-top: 5px;
  }
  @media screen and (max-width: 1280px) {
    margin-right: 28px;
      margin-bottom: 1px;
    margin-top: 1px;
  }
}

.callStatsTopRow ul li.marginQuickHack__LiveCalls {
  margin-left: 90px;
  @media screen and (max-width: 1366px) {
    margin-left: 15px;
  }
  @media screen and (max-width: 1280px) {
    margin-left: 25px;
  }
}

.callStatsTopRow ul li.marginQuickHack__CallStats {
  margin-left: 9px;
  @media screen and (max-width: 1366px) {
    margin-left: 18px;
  }
  @media screen and (max-width: 1280px) {
    margin-left: 25px;
  }
}

.callStatsTopRow ul li.marginQuickHack__CallStats--fourth-child {
  @media screen and (max-width: 1366px) {
    margin-left: 72px;
  }
}

.callStatsTopRow ul li > div.title {
  width: 85%;
  text-align: center;
  text-transform: uppercase;
}

.callStatsTopRow ul li div:nth-child(1) {
  margin-top: 16px;
  color: #b8ada5 !important;
}

.agentStatusText {
  // these values are common in .status-available, 
  width: 85% !important; // .status-away, .status-busy, .status-dialling, 
  text-align: center; // .status-wrapup, .status-unavailable
  transition: 0.5s;
  @media screen and (max-width: 1400px) {
    width: 77%!important;
  }
  @media screen and (min-width:1921px) {
    line-height: 1.8;
  }
}

.agentStatuses > ul {
  height: 299px;
  padding: 25px;
  @media screen and (min-width 1201px) and (max-width: 1400px) {
    padding: 15px;
  }
  @media screen and (max-width: 1200px) {
    padding: 15px;
    height: 200px;
  }
  @media screen and (min-width: 1921px) {
    height: 345px;
  }
}

.agentStatuses ul li ul.agentStatus li.agentStatusTezt {
  line-height: 2;
}

.agentAvailablity {
  // these values are common across the classes listed below
  width: 6% !important; // .totalAgents-available, .totalAgents-away, .totalAgents-onCall,
  float: right !important; // .totalAgents-dialling, .totalAgents-wrapUp, .totalAgents-unavailable
  color: #b8ada5 !important;
  font-weight: bold !important;
  @media screen and (max-width: 1400px) {
    width: 10%!important;
  }
}

.agentStatuses ul li ul.agentStatus li.agentAvailablity {
  line-height: 2;
}

.agentStatuses {
  margin-top: 20px;
  @media screen and (max-width: 1200px) {
    margin-top: 10px;
  }
}

.agentStatuses > ul > li {
  height: 27px;
  width: 100%;
  margin-bottom: 22px;
  @media screen and (max-width: 1200px) {
    margin-bottom: 3px;
  }
  @media screen and (min-width: 1921px) {
    margin-bottom: 34px;
  }
}

.agentStatuses_icons_boxMod {
  width: 7% !important;
  height: 27px !important;
  float: left;
  @media screen and (max-width: 1400px) {
    width: 13% !important;
  }
}

.agentStatuses ul li ul.agentStatus li.agentAvailable_icon,
.agentStatuses ul li ul.agentStatus li.agentDialling_icon,
.agentStatuses ul li ul.agentStatus li.agentAway_icon,
.agentStatuses ul li ul.agentStatus li.agentWrapUp_icon,
.agentStatuses ul li ul.agentStatus li.agentBusy_icon {
  background-size: 100%;
}

.agentStatuses ul li ul.agentStatus li.agentAvailable_icon {
  background: url(../img/agentStatus_rtd_icon.png) 0px 0px no-repeat;
}

.agentStatuses ul li ul.agentStatus li.agentDialling_icon {
  background: url(../img/agentStatus_rtd_icon.png) 0px -27px no-repeat;
}

.agentStatuses ul li ul.agentStatus li.agentAway_icon {
  background: url(../img/agentStatus_rtd_icon.png) 0px -80px no-repeat;
}

.agentStatuses ul li ul.agentStatus li.agentWrapUp_icon {
  background: url(../img/agentStatus_rtd_icon.png) 0px -108px no-repeat;
}

.agentStatuses ul li ul.agentStatus li.agentBusy_icon {
  background: url(../img/agentStatus_rtd_icon.png) 0px -53px no-repeat;
}

ul.agentStatus {
  width: 100%;
  display: block;
  float: left;
}

.waitTimeStats {
  margin-top: 20px;
  @media screen and (max-width: 1200px) {
    margin-top: 10px;
  }
}

.percentageGaugeWrap {
  float: left;
}

ul.percentageValues {
  width: 20px;
  li {
    line-height: 1.5;
    @media screen and (max-width: 1200px) {
      line-height: 1.3;
    }
    @media screen and (min-width: 1201px) and (max-width: 1400px) {
      line-height: 1.84;
    }
    @media screen and (min-width: 1921px) {
      line-height: 1.3;
    }
    .callStatsTopRow ul {
      position: relative;
      width: 100%;
    }
  }
}

.graphUI {
  display: inline-block;
  height: 299px;
  width: 100%;
  padding: 25px;
  float: left;
  @media screen and (max-width: 1200px) {
    padding: 15px;
    height: 200px;
  }
  @media screen and (min-width 1201px) and (max-width: 1400px) {
    padding: 15px;
  }
  @media screen and (min-width:1921px) {
    height: 345px;
  }
}

ul.graphMeasure {
  position: absolute;
  margin-top: 231px;
  margin-left: 47px;
  transition: 0.5s;
  @media screen and (max-width: 1200px) {
    margin-left: 41px;
    margin-top: 158px;
  }
  @media screen and (min-width:1201px) and (max-width: 1400px) {
    margin-left: 41px;
  }
  @media screen and (min-width:1921px) {
    margin-left: 60px;
    margin-top: 249px;
  }
}

ul.graphMeasure li {
  width: 103px;
  margin-right: 1px;
  float: left;
  transition: height linear 0.5s;
  @media screen and (max-width: 1400px) {
    width: 55px;
  }
  @media screen and (min-width: 1921px) {
    width: 127px;
  }
}

.graphBars {
  position: absolute; // .graphBars property value pairs are common  
  bottom: 0!important; // across the built classes in the for loop below. 
  vertical-align: bottom;
}

$background-col: (#12bcfa, #0054a6, #59c06d, #f7941d, #ff0000); // $background-col array
$marg_left: (0, 113px, 226px, 339px, 452px); // $marg_left array
@for $i from 1 to length($background-col) {
  $const: 0;
  $thisMarg_left: nth($marg_left, $i);
  $thisBgCol: nth($background-col, $i);
  ul.graphMeasure li.hist-#{$i}#{$const} {
    margin-left: $thisMarg_left;
    background-color: $thisBgCol;
  }
}

ul.graphMeasure li.hist-10 {
  @media screen and (max-width: 1200px) {
    margin-left: 0px;
  }
  @media screen and (min-width:1201px) and (max-width: 1400px) {
    margin-left: 0px;
  }
  @media screen and (min-width:1921px) {
    margin-left: 0px;
  }
}

ul.graphMeasure li.hist-20 {
  @media screen and (max-width: 1200px) {
    margin-left: 63px;
  }
  @media screen and (min-width:1201px) and (max-width: 1400px) {
    margin-left: 66px;
  }
  @media screen and (min-width: 1921px) {
    margin-left: 132px;
  }
}

ul.graphMeasure li.hist-30 {
  @media screen and (max-width: 1200px) {
    margin-left: 126px;
  }
  @media screen and (min-width:1201px) and (max-width: 1400px) {
    margin-left: 132px;
  }
  @media screen and (min-width: 1921px) {
    margin-left: 264px;
  }
}

ul.graphMeasure li.hist-40 {
  @media screen and (max-width: 1200px) {
    margin-left: 189px;
  }
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    margin-left: 198px;
  }
  @media screen and (min-width: 1921px) {
    margin-left: 396px;
  }
}

ul.graphMeasure li.hist-40Plus {
  margin-left: 452px;
  background-color: #ff0000;
  @media screen and (max-width: 1200px) {
    margin-left: 252px;
  }
  @media screen and (min-width: 1201px) and (max-width: 1400px) {
    margin-left: 264px;
  }
  @media screen and (min-width: 1921px) {
    margin-left: 528px;
  }
}

.percentageCircle {
  width: 60px;
  height: 60px;
  margin-top: -75px;
  margin-left: 25%;
  color: #b8ada5!important;
  font-weight: bold;
  text-align: -webkit-center;
  line-height: 3.7;
  border-radius: 30px;
  background-color: #fff;
  transition: 1s;
  @media screen and (max-width: 1400px) {
    width: 40px;
    height: 40px;
    margin-left: 14%;
    line-height: 41px;
  }
  @media screen and (min-width: 1921px) {
    line-height: 3;
  }
}

.circlePosition {
  margin-top: 10px;
  transition: 1s;
}

ul.graphBarLabels {
  position: absolute;
  margin-top: 233px;
  margin-left: 50px;
  @media screen and (max-width: 1200px) {
    margin-left: 28px;
    margin-top: 161px;
  }
  @media screen and (min-width:1201px) and (max-width: 1400px) {
    margin-left: 28px;
  }
  @media screen and (min-width: 1921px) {
    margin-top: 261px;
    margin-left: 60px;
  }
}

ul.graphBarLabels li {
  float: left;
  display: inline-block;
  width: 113px;
  font-weight: bold !important;
  color: #b8ada5!important;
  text-align: center;
  @media screen and (max-width: 1200px) {
    width: 66px;
  }
  @media screen and(min-width:1201px) and (max-width: 1400px) {
    width: 69px;
  }
  @media screen and(min-width:1921px) {
    width: 131px;
  }
}