.flow_icon {
  background: url(../img/flow_icon.png);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 2;
}
.member_icon {
  background: url(../img/user_details_icon.png);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 2;
}
.number_icon {
  background: url(../img/numbers-icon.png);
  width: 25px;
  height: 25px;
  position: absolute;
  top: 20px;
  left: 60px;
  z-index: 2;
}
