/* organisation scss */

@import "invitations/organisation.invitations";
@import "members/members";
@import "numbers/numbers";
.system_text {
  color: $system-color;
  line-height: 24px;
  text-align: center;
  margin-top: 20px;
  height: 48px;
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  z-index: 100;
}
.organisation_name {
	display: block;
	clear: both;
}