.noDataDisplay {
  width: 165px;
  height: 165px;
  line-height: 165px;
  text-align: center;
  border: 1px solid $tertiary-color;
  border-radius: 50%;
  margin: 50px auto;
  box-shadow: inset -1px 1px 17px -2px $tertiary-color, 0px 0px 0px 0px #DDDDDD;
  -webkit-box-shadow: inset -1px 1px 17px -2px $tertiary-color, 0px 0px 0px 0px #DDDDDD;
  -moz-box-shadow: inset -1px 1px 17px -2px $tertiary-color, 0px 0px 0px 0px #DDDDDD;
  -o-box-shadow: inset -1px 1px 17px -2px $tertiary-color, 0px 0px 0px 0px #DDDDDD;
  span {
    display: inline-block;
    vertical-align: middle;
  }
  p {
    font-size: 1.143em;
    line-height: normal;
    margin: 0;
  }
}