/* register scss */

a.sign-in-link {
  position: absolute;
  top: 20px;
  right: 30px;
  text-decoration: none;
  cursor: pointer;
}

.aurelia-animators {
    padding: 20px;
    list-style: none;
}

.aurelia-animators>li.au-enter {
    opacity: 0!important;
}

.aurelia-animators>li.au-enter-active {
    -webkit-animation: fadeIn 2s;
    animation: fadeIn 2s;
}

.aurelia-animators>li.au-leave-active {
    -webkit-animation: fadeOut 2s;
    animation: fadeOut 2s;
}

.fadeStep_name label,
.fadeStep_name input,
.fadeStep_username label,
.fadeStep_username input,
.fadeStep_password label,
.fadeStep_password input,
.fadeStep_email label,
.fadeStep_email input {
  opacity: 0;
  transition: 0.75s;
}

.fadeStep_name button,
.fadeStep_username button,
.fadeStep_password button,
.fadeStep_email button {
  opacity: 0;
  transition: 0.75s;
}

.fadeStep_name {
  display: block !important;
  margin-top: -400px;
  opacity: 0.3;
  transform: scale(0.2, 0.2);
  -webkit-transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  cursor: pointer;
}

.fadeStep_password {
  display: block !important;
  margin-top: -230px;
  opacity: 0.7;
  transform: scale(0.6, 0.6);
  -webkit-transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  cursor: pointer;
}

.fadeStepOut {
  margin-top: 0px;
  opacity: 1;
  transform: scale(1, 1);
  -webkit-transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
  transition: all 0.8s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.form_container {
  padding: 20px 10px;
}