//@import "builder/prompts/promts";
/*
*/
ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  
  li {
    display: block;
    padding: 4px 10px;
  }
}

.main {
  position: absolute;
  top: 28px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.toolbar {
  position: absolute;
  border-right: 1px solid rgba(0, 0, 0, 0.7);
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 200px;
}

.content {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 200px;
  top: 0px;
  bottom: 0px;
  width: calc(100% - 201px);
}

.tool_item {
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 10px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 1px;
  z-index: 999;
  cursor: pointer;
}

.default_comp {
  position: relative;
  border: 1px dotted #63E2FF;
  background: rgba(255, 255, 255, 0.6);
  display: block;
  
  &:hover {
    .btn_close {
      display: block;
    }
  }
  
  .btn_close {
    display: none;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 2px;
    padding: 0px 4px;
    background: #D46868;
    color: #fff;
    font-size: 8px;

    &:hover {
      cursor: pointer;
      background: #C75656;
    }
  }
}

.default_comp:hover {
  border: 1px dotted #63E2FF;
  background: #fff;
}

.draggable_comp_create {
  cursor: move;
}

.context_menu {
  display: none;
  position: fixed;
  z-index: 999;
  top: -1000px;
  left: -1000px;
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #222;
  border-radius: 4px;
  pointer-events: auto;
  
  li {
    background: #222;
    color: #fff;
    border: 1px solid #5E5E5E;
    border-radius: 3px;
    cursor: pointer;
    
    &:hover {
      background: #333232;
    }
  }
}

.context_menu.active {
  display: block;
}

.header_wrap {
  height: calc(20% - 2px);
}

.content_wrap {
  height: calc(60% - 2px);
}

.footer_wrap {
  height: calc(20% - 2px); 
}

.content_sec {
  border: dashed 2px #00FBFF;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

.prop {
  label {
    width: 100px;
  }
}

.two-prong-slider {
  position: relative;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  
  label {
    position: relative;
    margin-top: 5px;
    text-align: center;
    z-index: 1;
    cursor: pointer;
  }
  
  .slider {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0px;
    background: #E8A2A2;
    border-radius: 3px;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
  }
  
  .slider.pixel {
    left: 0px;
  }
  
  .slider.percentage {
    left: 102px;
  }
}

/*  DIALOG STYLING  */
.o-prompt {
  position: relative;
  background: #ddd;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
}

.dialog-close {
  position: absolute;
  top: 10px;
  right: 10px;
}

ai-dialog-overlay {
  background: rgba(0, 0, 0, 0.2)
}