@mixin border-image-small() {
  border-style: solid;
  border-width: 36px 31px 41px 24px;
  -moz-border-image: url(../img/task_history.png) 36 31 41 24 stretch;
  -webkit-border-image: url(../img/task_history.png) 36 31 41 24 stretch;
  -o-border-image: url(../img/task_history.png) 36 31 41 24 stretch;
  border-image: url(../img/task_history.png) 36 31 41 24 fill stretch;
}

@mixin nextTask-border() {
  border-style: solid;
  border-width: 135px 251px 0px 203px;
  -moz-border-image: url(../img/next_work_item.png) 135 251 0 203;
  -webkit-border-image: url(../img/next_work_item.png) 135 251 0 203;
  -o-border-image: url(../img/next_work_item.png) 135 251 0 203;
  border-image: url(../img/next_work_item.png) 135 251 0 203 fill;
}

@mixin performance-border() {
  border-style: solid;
  border-width: 27px 2px 30px;
  -moz-border-image: url(../img/stats_bg.png) 27 2 30 stretch;
  -webkit-border-image: url(../img/stats_bg.png) 27 2 30 stretch;
  -o-border-image: url(../img/stats_bg.png) 27 2 30 stretch;
  border-image: url(../img/stats_bg.png) 27 2 30 fill stretch;
}

@mixin incoming-call-border() {
  border-style: solid;
  border-width: 90px 24px 215px 9px;
  -moz-border-image: url(../img/incoming_call_bg.png) 90 24 215 9 stretch;
  -webkit-border-image: url(../img/incoming_call_bg.png) 90 24 215 9 stretch;
  -o-border-image: url(../img/incoming_call_bg.png) 90 24 215 9 stretch;
  border-image: url(../img/incoming_call_bg.png) 90 24 215 9 fill stretch;
}

@mixin border-radius-min($radiusMin: 4px) {
  -webkit-box-shadow: $radiusMin;
  -moz-box-shadow: $radiusMin;
  -o-box-shadow: $radiusMin;
  box-shadow: $radiusMin;
}

@mixin border-radius($radius: 25px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin modal-border-image($image,
$xOffset,
$yOffset,
$fill,
$repeat) {
  -webkit-border-image: $image $xOffset $yOffset $repeat;
  -moz-border-image: $image $xOffset $yOffset $repeat;
  -o-border-image: $image $xOffset $yOffset $repeat;
  border-image: $image $xOffset $yOffset $fill $repeat;
}
