/*---------------------- font variables ------------------*/

$primary-font-light: 'NeoTech',
sans-serif;
$primary-font-regular: 'NeoTech',
sans-serif;
$primary-font-medium: 'NeoTech Medium',
sans-serif;
$primary-font-bold: 'NeoTech Bold',
sans-serif;
$aiva-font: 'NeoTech';
$font-size-base: 14px;

/*-----------------  font variables end ------------------*/


/*------------------ stadard colours ---------------------*/

$primary-color: #FFFFFF;
$aiva-color: #00AFEF;
$secondary-color: #00AFEF;
$info-color: #3CF5FF;
$tertiary-color: shade($info-color, 34%);
$system-color: #D78003;
$accept-color: #00a858;
$warning-color: #EDA700;
$delete-color: #EC3237; //OLD #D51F1E
$error-color: #EDA700;
$input-color: #FFFFFF;
$link-color: #777777;
$link-color-hover: #999999;
$validation-color: #8A6D3B;
$form-button-color: #0BA4A6;
$border-color: #00AFEF;
$border-color-transparent: rgba(0, 175, 239, 0.5);

/*---------------- tint and shade function ------------------*/

@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}


/*---------------- standard colours end ------------------*/

$pushUp: 20px;
$messages_list_bg: #2e2e2e;
$padding: 2px 5px;
$image: url(../img/aivaModalBdr.png);
$xOffset:20;
$yOffset: 21;
$fill: fill;
$repeat: stretch;
$modalBorderStyle: solid;
$modalborderWidth: 20px 21px;

/* FONT SIZES */

$body-font-size: 1em;

/*-H1-*/

$md-h1: 1em;

/*- TODO: define -*/

$lg-h1: 3em;
$xl-h1: 1.543em;

/*- TODO: define -*/


/*-H2-*/

$md-h2: 1.512em;

/*- TODO: define-*/

$lg-h2: 2.571em;
$xl-h2: 1.543em;

/*- TODO: define -*/


/*-H3-*/

$md-h3: 1em;

/*- TODO: define -*/

$lg-h3: 2.143em;
$xl-h3: 1.543em;

/*- TODO: define -*/


/*-H4-*/

$md-h4: 1em;

/*- TODO: define -*/

$lg-h4: 1.857em;
$xl-h4: 1.543em;

/*- TODO: define -*/


/*-H5-*/

$md-h5: 1em;

/*- TODO: define -*/

$lg-h5: 1.571em;
$xl-h5: 1.543em;

/*- TODO: define -*/


/*-H6-*/

$md-h6: 1em;

/*- TODO: define -*/

$lg-h6: 1.143em;
$xl-h6: 1.543em;