@import "../../../node_modules/sass-bem-constructor/dist/_bem-constructor.scss";
@import "_variables.scss";
@import "_validation.scss";
@include object('form-field') {
  position: relative;
  margin: 0;
  z-index: auto;
  label {
    display: none;
  }
  label.tc-accept {
    display: inline-block;
    vertical-align: middle;
    font-weight: 500;
  }
  input[type=checkbox] {
    &:focus {
      outline: 5px auto $info-color;
    }
  }
  p {
    margin: 0;
  }
  @include modifier('filter') {
    display: block;
    width: calc(100% - 65px);
    margin-top: 17px;
  }
  @include modifier('width') {
    width: 25%;
  }
  @include modifier('margin-left') {
    margin-left: 15px;
  }
  @include modifier('conversation-one-button') {
    padding-right: 10px;
    @media screen and (max-width: 1366px) {
      padding-right: 5px;
    }
  }
  @include modifier('conversation-two-button') {
    width: calc(100% - 130px);
    margin-top: 17px;
  }
  @include modifier('prompt') {
    max-width: 84%;
    margin: 0 auto;
  }
  @include element('row') {
    width: 100%;
    margin: 30px 0;
  }
	@include element('custom-label') {
		position: absolute;
		left: 1%;
		top: 50%;
		transform: translate(0, -50%);
	}
  @include element('input') {
    display: block;
    float: left;
    width: calc(100% - 2px);
    height: auto;
    padding: 0px 12px;
    color: $primary-color;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 1px solid $link-color-hover;
    border-radius: 0;
    outline: none;
    @include transition();
    &:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border-color: $primary-color;
      @include transition();
    }
    @include modifier('four-in-a-row-outer') {
      width: calc(25% - 1px);
    }
    @include modifier('four-in-a-row-inner') {
      width: 25%;
    }
		@include modifier('with-actions-one') {
			padding-right: 72px;
		}
		@include modifier('with-actions') {
			padding-right: 72px;
			padding-left: 72px;
		}
		@include modifier('digits') {
			float: none;
			width: 75%;
			margin: 0 auto;
			padding: 4px 12px 2px 12px;
			border-top: 1px solid $link-color-hover;
		}
  }
  @include element('input-border-line') {
    display: block;
    width: 1px;
    height: 10px;
    background: $link-color-hover;
    float: left;
    margin-top: 19px;
  }
  @include element('link') {
    &:hover,
    &:focus {
      outline: none;
    }
  }
  @include element('spacer-line') {
    width: 45%;
    height: 1px;
    background: $primary-color;
    display: block;
    float: left;
    margin: 8px 0;
  }
  @include element('spacer-text') {
    line-height: 1.143rem;
    width: 10%;
    padding: 0 1%;
    display: block;
    float: left;
  }
  @include element('validation-error') {
    p,
    label {
      @include validation;
      left: -261px;
      bottom: inherit;
      @media screen and (min-width: 1921px) {
        left: -261px;
      }
      &:after {
        right: -70px;
        width: 70px;
        background-size: cover;
      }
    }
  }
	@include modifier('radio') {
		
	}
}
@include object('form-radio-list') {
	display: block;
	width: 100%;
	@include element('item') {
		display: block;
		width: 100%;
		@include modifier('medium-width') {
			max-width: 100px;
			@media screen and (max-width: 1366px) {
				max-width: 80px; 
			}
			@media screen and (max-width: 1280px) {
				max-width: 76px; 
			}
		}
	}
	@include element('radio-selector') {
		display: block;
    top: 50%;
		transform: translate(0, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid $secondary-color;
    box-shadow: 0 0 20px 0 $secondary-color ,inset 0 0 10px 0 $secondary-color;
		position: absolute;
		&::before {
			display: none;
			width: 8px;
			height: 8px;
			content: '';
			background-color: #fff;
			border-radius: 50%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
		}
	}
	@include element('text') {
		display: block;
    margin: 0 0 0 12px;
    position: relative;
    margin-left: 0;
    padding: 2px 0 0px 28px;
    font-size: inherit;
    font-weight: inherit;
    cursor: pointer;
		
		&:hover .o-form-radio-list__radio-selector {
			border: 2px solid $info-color;
		}
	}
}

//input[type=radio]:checked ~ .o-form-radio-list__text {
//  border: 5px solid #0DFF92;
//}

input[type=radio]:checked ~ .o-form-radio-list__radio-selector::before{
  display: block;
}

//input[type=radio]:checked ~ .o-form-radio-list__text{
//  color: #0DFF92;
//}

/*  conversation form field  */

@include object('conversation-form-field') {
  position: relative;
  top: 50%;
  transform: translateY(-60%);
  @include modifier('one-button') {
    width: calc(100% - 55px);
    margin-left: 15px;
  }
  @include modifier('two-button') {
    width: calc(100% - 110px);
    margin: 0 15px;
    @media screen and (max-width: 1366px) {
      width: calc(100% - 94px);
    }
    @media screen and (max-width: 1279px) {
      width: calc(100% - 74px);
    }
  }
	@include modifier('two-button-with-total') {
		width: calc(100% - 200px);
    margin: 0 15px;
	}
	@include modifier('three-button-with-total') {
		width: calc(100% - 210px);
    margin: 0 15px;
	}
}