@include object('full-page') {
	display: block;
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	@include modifier('push-down') {
		padding-top: 2%;
	}
  @include element('center') {
    
  }
	@include element('side-panel') {
		position: relative;
		height: 100%;
	}
	@include element('side-panel-inner') {
		width: 24%;
		margin: 0 auto;
		@include modifier('left') {
			margin-right: 12%;
		}
		@include modifier('right') {
			margin-left: 12%;
		}
	}
}
@include object('form-list') {
	@include element('icon') {
		display: block;
    margin: 0 auto;
		margin: 10px auto 15px;
    width: 48px;
    height: 48px;
    background-size: cover;
    background-repeat: no-repeat;
    @media screen and (min-width: 1281px) and (max-width: 1366px) {
      margin: 0 auto 7px;
      width: 32px;
      height: 32px;
    }
    @media screen and (min-width:1921px) {
      margin: 24px auto 32px;
      width: 64px;
      height: 64px;
    }
		@include modifier('form') {
			background-image: url(../img/icon_form.png);
		}
		@include modifier('phone-call') {
			background-image: url(../img/icon_phone_call.png);
		}
		@include modifier('email') {
			background-image: url(../img/icon_email.png);
		}
		@include modifier('web-call') {
			background-image: url(../img/icon_web_call.png);
		}
		@include modifier('kiosk-call') {
			background-image: url(../img/icon_conversation-kiosk-call.png);
		}
	}
}

@include object('wizard') {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	max-width: 40%;
	margin: 0 auto;
	padding: 0;
	@include element('line') {
		position: absolute;
    display: block;
    height: 1px;
    top: calc(50% - 1rem);
    left: 16%;
    right: 16%;
    margin: 0 auto;
    transform: translate(0,-50%);
		background-color: $secondary-color;
		@media screen and (min-width: 1200px) and (max-width: 1366px) {
			top: calc(50% - 0.75rem);
		}
		@include modifier('two') {
			text-align: center;
			left: 24%;
    	right: 24%;
		}
  }
	@include element('step') {
		display: block;
    float: left;
    width: calc(100% / 3);
    position: relative;
		@include modifier('two') {
			width: calc(100% / 2);
		}
	}
}
@include object('step-block') {
	display: block;
	height: 30px;
	position: relative;
	@include element('step-inner') {
		display: block;
		position: relative;
		top: 50%;
    transform: translate(0, -50%);
		width: 20px;
		height: 20px;
		margin: 0 auto;
		border-radius: 50%;
		background-color: #000;
		border: 2px solid $secondary-color;
		box-shadow: 0 0 20px 0 $secondary-color, inset 0 0 10px 0 $secondary-color;
	}
	@include element('active-step') {
		
	}
	@include element('description') {
		margin-top: 11px;
		color: #9b9ea5;
		@include modifier('active') {
			color: #fff;
		}
	}
	@include state('active') {
		@include modifies-element('step-inner') {
			width: 30px;
			height: 30px;
			@include modifies-element('active-step') {
				display: block;
				width: 10px;
				height: 10px;
				background-color: #fff;
				border-radius: 50%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}
}

@include object('accordion') {
	overflow-y: scroll;
	padding-right: 5px;
	&::-webkit-scrollbar {
    width: 2px;
    height: 2px;
	}
	&::-webkit-scrollbar-thumb {
    background-color: $secondary-color;
    border-radius: 4px;
    transition: 1s ease-in-out;
	}
	@include element('item') {
		display: block;
		margin-bottom: 30px;
		border: 1px solid $secondary-color;
		border-bottom: none;
		transition: 1s ease-in-out;
		-webkit-transition: 1s ease-in-out;
		@media screen and (min-width: 1200px) and (max-width: 1366px) {
			margin-bottom: 15px;
		}
		@include modifier('short') {
			margin-bottom: 1px;
		}
	}
}
@include object('accordion-header') {
	background-color: $secondary-color;
	padding: 15px 20px;
	@media screen and (min-width: 1200px) and (max-width: 1366px) {
		padding: 10px 20px;
	}
	@include modifier('footer') {
		background-color: #003a4f;
		border-bottom: 1px solid $secondary-color;
	}
	@include element('title') {
		
	}
}
@include object('accordion-footer') {
	max-width: 340px;
	margin: 0 auto;
}
@include object('accordion-action') {
	display: block;
	width: 20px;
	height: 20px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%;
	@include modifier('small') {
		width: 33%;
    height: 30px;
    background-size: 33%;
		background-position: center right;
	}
	@include modifier('small-spaced') {
		width: 29%;
    margin: 0 3%;
    height: 30px;
    background-size: 38%;
		opacity: 0.9;
		&:hover {
			opacity: 1;
		}
	}
	@include modifier('add') {
		background-image: url(../img/icon_accordian-add.png);
	}
	@include modifier('edit') {
		background-image: url(../img/icon_note.png);
	}
	@include modifier('navigate') {
		background-image: url(../img/icon_accordian-nav.png);
	}
	@include modifier('cancel') {
		background-image: url(../img/icon_cancel.png);
	}
	@include modifier('remove') {
		background-image: url(../img/icon_remove.png);
	}
	@include modifier('accept') {
		background-image: url(../img/icon_confirm.png);
	}
}
.o-accordion-action.is-expanded {
	transform: scaleY(-1);
}
@include object('accordion-body') {
	height: 0px;
	overflow: hidden;
	transition: 0.25s ease-in-out;
	-webkit-transition: 0.25s ease-in-out;
	@include state('expanded') {
		height: auto;
		transition: 0.25s ease-in-out;
		-webkit-transition: 0.25s ease-in-out;
	}
	@include state('collapsed') {
		transition: 0.25s ease-in-out;
		-webkit-transition: 0.25s ease-in-out;
	}
	@include element('inner') {
		display: block;
	}
	@include element('section') {
		padding: 30px 25px 30px 20px;
		position: relative;
		background-color: #000;
		border-bottom: 1px solid $secondary-color;
		transition: 0.25s ease-in-out;
		word-break: break-word;
		@include modifier('devide') {
			padding: 0;
		}
		@include modifier('second') {
			background-color: #001218;
		}
		@include modifier('hidden') {
			height: 0;
			overflow: hidden;
			padding: 0;
			border: none;
			div {
				display: none;
			}
		}
	}
	@include element('section-split') {
    display: block;
		width: 15px;
    height: 12px;
    position: absolute;
    left: 50%;
    bottom: -10px;
    background: #000;
    z-index: 6;
    transform: translate(-50%, 0);
    -webkit-clip-path: polygon(0 0, 100% 0, 50% 100%);
		&::before {
			display: block;
			background-color: $secondary-color;
			height: 2px;
			width: 10px;
			content: '';
		}
		&::after {
			display: block;
			background-color: $secondary-color;
			height: 2px;
			width: 10px;
			content: '';
		}
	}
	@include element('section-content') {
		@include modifier('devide-first') {
			padding-top: 25px;
			padding-bottom: 25px;
			padding-left: 20px;
		}
		@include modifier('devide') {
			padding: 25px 0;
			padding-bottom: 0;
		}
		@include modifier('devide-with-line') {
			padding-top: 25px;
			padding-bottom: 0;
			width: 50%;
			border-left: 1px solid $secondary-color;
			&:first-child {
				border-left: none;
			}
		}
	}
	@include element('section-content-details') {
		padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0;
	}
	@include element('section-content-title') {
		margin-bottom: 10px;
	}
	@include element('section-action') {
		padding-right: 12px;
	}
	@include element('section-editable') {
		margin-top: 10px;
		padding-right: 10px;
		cursor: pointer;
		background-image: url(../img/icon_note.png);
		background-position: 30% center;
    background-repeat: no-repeat;
    background-size: 15px;
	}
}

@include object('inner-shadow') {
	@include modifier('from-bottom') {
		display: block;
    height: 40px;
    width: calc(100% - 20px);
    position: absolute;
    bottom: 0;
    z-index: 10;
    box-shadow: inset 0 -30px 40px -15px #000;
	}
}
@include object('hidden') {
	@include element('radio') {
		position: absolute;
		visibility: hidden;
	}
}
@include object('side-container') {
	padding: 15px;
	margin-bottom: 15px;
	background-color: #000;
	.recording {
		max-width: 100%;
	}
	@media screen and (min-width: 1200px) and (max-width: 1366px) {
		padding: 10px;
	}
}

// Components
@include object('relative-box') {
	display: block;
	position: relative;
	@include modifier('height-10') {
		height: 10%;
	}
	@include modifier('height-20') {
		height: 20%;		
	}
	@include modifier('height-30') {
		height: calc(20% + 70px);
	}
	@include modifier('height-40') {
		height: 40%;
	}
	@include modifier('height-50') {
		height: 50%;
	}
	@include modifier('height-60') {
		height: 60%;
	}
	@include modifier('height-70') {
		height: 70%;
	}
	@include modifier('height-80') {
		height: 80%;
	}
	@include modifier('height-90') {
		height: 90%;
	}
	@include modifier('height-100') {
		height: 100%;
	}
}
@include object('filter') {
	@include element('container') {
		display: block;
		width: 100%;
		position: relative;
		background-color: #000;
		border: 1px solid $secondary-color;
		@include modifier('single-select') {
			max-width: 250px;
		}
		@include modifier('float') {
			position: absolute;
			z-index: 5;
			top: 60px;
    	left: 25px;
		}
	}
	@include element('item') {
		display: block;
		padding: 5px 8px;
		line-height: 2rem;
		border-top: 1px solid $secondary-color;
		&:first-child {
			border-top: none;
		}
		&:hover {
			background-color: rgba(0, 175, 239, 0.3);
			cursor: pointer;
		}
		@include state('selected') {
			background-color: rgba(0, 175, 239, 0.3);
		}
	}
}
@include object('text-icon') {
	padding-left: 14px;
	margin-right: 4px;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	@include modifier('round') {
    border-radius: 50%;
    padding-top: 1px;
    padding-left: 18px;
    background-size: 70%;
	}
	@include modifier('pass') {
		border: 1px solid $accept-color;
	}
	@include modifier('fail') {
		border: 1px solid $delete-color;
	}
	@include modifier('inbound') {
		background-image: url(../img/icon_blue_inbound_call.png);
	}
	@include modifier('outbound') {
		background-image: url(../img/icon_blue_outbound_call.png);
	}
	@include modifier('email') {
		background-image: url(../img/icon_blue_email.png);
	}
	@include modifier('kiosk') {
		background-image: url(../img/icon_blue_kiosk.png);
	}
	@include modifier('sms') {
		background-image: url(../img/icon_blue_sms.png);
	}
	@include modifier('accept_green') {
		background-image: url(../img/icon_conversation-accept-green.png);
	}
	@include modifier('close_red') {
		background-image: url(../img/icon_conversation-close-red.png);
	}
}

@include object('hover') {
	cursor: pointer;
}